a, a:hover
{
    text-decoration: none !important;
    box-shadow: none;
}
.BlogCard
{
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.BlogTitle
{
    text-transform: capitalize;
    font-weight: bold;
    color: #303030;
    letter-spacing: 0;
    min-height: 60px;
    font-size: 23px;
    line-height: 1.4;
    padding-bottom: 0;
}
.BlogDate
{
    color:#454545;
    padding-bottom: 5px;
    margin: 0;
}
.BlogDesc
{
    color:#303030;
}
.BlogCard {
    box-shadow: 0 3px 8px rgba(0,0,0,.16);
    border-radius: 15px;
    margin: 5px;
    padding: 20px 15px;
}
.BlogCard {
    box-shadow: 0 3px 8px rgba(0,0,0,.16);
    border-radius: 15px;
    margin: 5px;
    padding: 20px 15px;
}
.categoryLink{
    letter-spacing: 2px;
    color: rgb(144, 144, 144);
    text-transform: uppercase;
    font-size: 14px;
    a
    {
        color: #fff;
        padding: 5px 10px;
        background: #5fd0df;
        
        border-radius: 5px;
    }
    a:hover
    {
        text-decoration: none;
        background: #4f9fc8;
    }
}
.categoryType
{
    margin: 0;
    padding: 0;
    li
    {
    display: inline-flex;
    padding: 5px;
    }
    a
    {
        color: #fff;
        padding: 7px 12px;
        background: #5fd0df;
        border-radius: 5px;
        white-space: nowrap;
    }
    a:hover, a.active
    {
        text-decoration: none;
        background: #4f9fc8;
    }
    
}
.blogDate
{
    color: #454545;
    a
    {
        color: #454545;
        font-weight: bold;
    }
    a:hover
    {
        color:#303030;
    }
}
.blog{
    h1, h2, h3, h4, h5
    {
        font-weight: bold;
    }
}

ul.taglist li {
    display: inline-flex;
    padding: 5px;
}
ul.taglist {
    margin: 0;
    padding: 0;
}
.taglist a {
    color: #303030;
    border:2px solid #303030;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 400;
}
.taglist a:hover{
    color: #fff;
    background: #303030;
}
p.Quotes {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
